body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

div, header, footer {
    border: solid 1px;
}

/* Header Styles */
nav {
    background-color: red;
    height: 40px;
}

.Icon {
    width: 70px;
}

/* Slider Styles */
.Slider {
    background-color: aquamarine;
    height: 50%;
}

/* Miniatures Styles */
.Miniatures {
    height: 25%;
}

/* Footer Styles */
footer {
    background-color: darkblue;
    height: 20%;
}